#player {
    font-family: Stellar, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-variant: small-caps;
    line-height: 16px;
    margin: 0 auto;
    width: 800px;
    border-width: 0;
}

#player audio {
    width: 800px;
    padding: 0px;
}

#music {
    font-family: Stellar, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-variant: small-caps;
    line-height: 16px;
    margin: 0 auto;
    width: 800px;
}

#music p {
    text-align: center;
}
#music p a {
    color: #eeeedd;
    background: #333;
    padding: 5px;
}
#music p a:hover {
    text-decoration: none;
}

#music .active a {
    color: #5DB0E6;
    text-decoration: none;
}

.audio.name {
    margin: 0 auto;
    text-align: center;
}